<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999636254780-42ia1ai26ohqkpahi9862qrj6gs4r1ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999636254780-42ia1ai26ohqkpahi9862qrj6gs4r1ne</string>
	<key>API_KEY</key>
	<string>AIzaSyAG5LIXkJjrftW1wTGwBLjID0BSZxVe3QM</string>
	<key>GCM_SENDER_ID</key>
	<string>999636254780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nomadstory.nomadstory.MagicaVogue</string>
	<key>PROJECT_ID</key>
	<string>magicavogue</string>
	<key>STORAGE_BUCKET</key>
	<string>magicavogue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999636254780:ios:a02f3cd8d2533d2720c339</string>
</dict>
</plist>